.align{
	text-align: center;
	padding: 0;
}

.logo{
	width: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.button {
    background-color: #389EE3; 
    border: none;
    color: white;
    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #389EE3;
}

.button1:hover {
    background-color: #389EE3;
    color: white;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 { 
    color: #389EE3; 
    font-family: 'Signika', sans-serif; 
    font-size: 35px; 
    font-weight: 300; 
    line-height: 58px; 
}

h3 { 
    color: red; 
    font-family: 'Signika', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 58px; 
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}

#day5 {
    top: 260px;
    background-color: #555
}

*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

@media(max-width: 600px){
    .column{
        width: 100%;
    }
}

h2 { 
    color: black; 
    font-family: 'Signika', sans-serif; 
    font-size: 16px; 
    font-weight: 300; 

}